<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Semana2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22827E131C66EC18002E1498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22827E271C66EC1B002E1498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22827E321C66EC1B002E1498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
